.game {
  width: 600px;
  height: 200px;
  border-bottom: 1px solid black;
  margin: 0 auto;
}

#player {
  height: 50px;
  width: 50px;
  background-image: url(./img/player.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

#damper {
  height: 40px;
  width: 40px;
  background-image: url(./img/damper.png);
  background-size: 40px 40px;
  position: relative;
  top: 110px;
  left: 560px;
}

#cloud {
  height: 50px;
  width: 50px;
  background-image: url(./img/cloud.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0px;
  left: 560px;
}

.start {
  width: 600px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

.animate {
  animation: moveTowards 2s infinite linear;
}

.cloudeAnimation {
  animation: moveTowards 4s infinite linear;
}

.active {
  animation: jumpActive 0.3s linear;
}

@keyframes moveTowards {
  0% {
    left: 560px;
  }

  100% {
    left: -40px;
  }
}

@keyframes jumpActive {
  0% {
    top: 150px;
  }

  20%,
  80% {
    top: 100px;
  }

  50% {
    top: 50px;
  }

  100% {
    top: 150px;
  }
}
